In [1]:
import pandas as pd

### Enriquecimento dos dados
#### Parte 1: Inserindo a população de cada município

In [3]:
negocios = pd.read_excel('Negócios unidos III.xlsx')
# negocios = pd.read_excel('Negócios unidos - Validação.xlsx')

In [4]:
populacao = pd.read_excel('Populacao cidades brasileiras 2020.xlsx')

Precisamos remover estado do nome da cidade e passa=lo para um campo "Estado"

In [5]:
populacao.tail()

                                       Local  População
5566                     Vicentinópolis (GO)     8873.0
5567                           Vila Boa (GO)     6312.0
5568                      Vila Propício (GO)     5882.0
5569                           Brasília (DF)  3055149.0
5570  Fonte: IBGE - Estimativas de População        NaN

In [6]:
# demonstração do método de obtenção do estado
estado = populacao['Local'][5568].split()[-1][1:3]

In [7]:
# demonstração do método de obtenção da cidade
cidade = populacao['Local'][5568][:-5]

In [8]:
populacao['Estado'] = 'H'
for i in range(len(populacao)):
    estado = populacao['Local'][i].split()[-1][1:3]
    cidade = populacao['Local'][i][:-5]
    populacao['Estado'][i] = estado
    populacao['Local'][i] = cidade

<ipython-input-8-ffdba4a9e094>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  populacao['Estado'][i] = estado
<ipython-input-8-ffdba4a9e094>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  populacao['Local'][i] = cidade

In [9]:
populacao.sample(10)

                        Local  População Estado
3169  Venda Nova do Imigrante    25745.0     ES
1296             Carrapateira     2687.0     PB
5396                 Cromínia     3472.0     GO
5118                   Bonito    22190.0     MS
3509                   Ipiguá     5476.0     SP
1784                  Lagarto   105221.0     SE
2004                  Itacaré    28684.0     BA
2241                Wanderley    12180.0     BA
5323          Abadia de Goiás     8958.0     GO
1367                   Natuba    10451.0     PB

In [10]:
negocios.columns

Index(['Unnamed: 0', 'Cidade', 'Negócio', 'Contagem'], dtype='object')

In [11]:
cidadesEstudadas = negocios['Cidade'].unique()

In [12]:
# Inserido os estados
negocios['Estado'] = '0'
for cidade in cidadesEstudadas:
    print(cidade)
    estado = populacao.loc[populacao['Local']==cidade,'Estado'].iloc[0]
    negocios.loc[(negocios['Cidade']==cidade),'Estado'] = estado

Imperatriz
Três Lagoas
Sinop
Caldas Novas
Divinópolis
Ipatinga
Dourados
Corumbá
Ponta Porã
Caruaru
Garanhuns
Santa Cruz do Capibaribe
Uruguaiana
Erechim
Cachoeiro de Itapemirim
Colatina
Palmas
Araguaína
Açailândia
Balsas
Passo Fundo
Guarapuava
Bauru
Patos de Minas
Barbacena
Varginha
Teófilo Otoni
Santarém
Parauapebas
Castanhal
Altamira
Tailândia
Tangará da Serra
Lucas do Rio Verde
Florianópolis
Chapecó
Tubarão
Ponta Grossa
Foz do Iguaçu
Araucária
Arapongas
São José dos Campos
Franca
Marília
Bragança Paulista
Pouso Alegre
São José do Rio Preto
São Carlos
Guaratinguetá
Juiz de Fora
Macaé
Sete Lagoas
Montes Claros
Pelotas
Vitória da Conquista
Ilhéus
Cascavel
Marabá
Governador Valadares
Volta Redonda
Uberaba
Criciúma
Muriaé
Barretos
Ijuí
Campo Mourão
Caratinga
Manhuaçu
Capelinha
Guanhães
Conceição do Mato Dentro
Cataguases
Patrocínio
Janaúba
Almenara
Formiga
Arcos
Bom Despacho
Lagoa da Prata
Bambuí
Araçuaí
Arcoverde
Serra Talhada
Salgueiro
Ouricuri
Araripina
Pedro Leopoldo
Confins
Curvelo
Ouro Branco
Itabirito
Lagoa Santa
Ituiutaba
Itumbiara
Três Marias
Jaboticabal
Votuporanga
Ubá
Viçosa
Marataízes
Itapetinga
Jequié
Santo Antônio de Jesus
Feira de Santana
Alagoinhas
Francisco Beltrão
Pato Branco
Alegrete
Gramado
Bagé
São Borja
Carangola
São Mateus
Paragominas
Goianésia
Caxambu
Três Pontas
Nepomuceno
Bom Sucesso
Conselheiro Lafaiete
Itabira
João Monlevade
Itaberaí
Itapuranga
Cianorte
Telêmaco Borba
Jequitinhonha

In [13]:
# Inserindo a população de fato
for cidade in cidadesEstudadas:
    estado = negocios.loc[negocios['Cidade']==cidade,'Estado'].iloc[0]
    populacaoCidade = populacao.loc[(populacao['Local']==cidade)&(populacao['Estado']==estado),'População'].values[0]
    negocios.loc[(negocios['Cidade']==cidade)&(negocios['Estado']==estado),'População'] = populacaoCidade

In [14]:
negocios.sample(5)

,Unnamed: 0,Cidade,Negócio,Contagem,Estado,População
221,NaN,Manhuaçu,Depósito de construção,40,MG,91169.0
212,NaN,Governador Valadares,Depósito de construção,107,MG,281046.0
347,NaN,Alagoinhas,Pet Shop,15,BA,152327.0
170,NaN,Colatina,Depósito de construção,47,ES,123400.0
223,NaN,Guanhães,Depósito de construção,20,MG,34573.0

#### Parte 2: Inserindo o IDH de cada município

In [15]:
import glob

In [16]:
pasta = 'IDH'
arquivosIDH = glob.glob(pasta + '/*.csv')

In [17]:
# Unindo todos arquivos de IDH
listaIDH = []
for arquivoIDH in arquivosIDH:
    dataframe = pd.read_csv(arquivoIDH)
    listaIDH.append(dataframe)

In [18]:
idh = pd.concat(listaIDH,ignore_index = True)

In [19]:
idh

,Posição,Nome,Localidade,1991,2000,2010,Unidade,Multiplicador
0,1,IDH,Alvarães,0.306,0.373,0.527,NaN,NaN
1,1,IDH,Amaturá,0.254,0.413,0.56,NaN,NaN
2,1,IDH,Anamã,0.307,0.408,0.594,NaN,NaN
3,1,IDH,Anori,0.357,0.428,0.561,NaN,NaN
4,1,IDH,Apuí,0.322,0.437,0.637,NaN,NaN
...,...,...,...,...,...,...,...,...
4500,1,IDH,Tupirama,0.238,0.445,0.67,NaN,NaN
4501,1,IDH,Tupiratins,0.421,0.446,0.587,NaN,NaN
4502,1,IDH,Wanderlândia,0.346,0.474,0.638,NaN,NaN
4503,1,IDH,Xambioá,0.344,0.504,0.671,NaN,NaN
4504,Fonte: Programa das Nações Unidas para o Desen...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
negocios['Cidade'][2]

'Sinop'

In [21]:
idh[idh['Localidade'] =='São José dos Campos']['2010'].values[0]

0.807

In [22]:
# Inserindo informação de IDH
negocios['IDH'] = ''
for i in range(len(negocios)):
    cidade = negocios['Cidade'][i]
    idhCidade = idh[idh['Localidade'] ==cidade]['2010'].values[0]
    negocios.loc[i,'IDH'] = idhCidade

In [23]:
negocios.sample(7)

,Unnamed: 0,Cidade,Negócio,Contagem,Estado,População,IDH
102,0.0,Viçosa,Posto de gasolina,26,RN,1725.0,0.775
313,NaN,Confins,Pet Shop,105,MG,6800.0,0.747
255,NaN,Itaberaí,Depósito de construção,14,GO,43622.0,0.719
212,NaN,Governador Valadares,Depósito de construção,107,MG,281046.0,0.727
198,NaN,Bragança Paulista,Depósito de construção,144,SP,170533.0,0.776
363,NaN,Caruaru,Pet Shop,95,PE,365278.0,0.677
352,NaN,Bagé,Pet Shop,44,RS,121335.0,0.740

#### Parte 3: Inserindo o PIB per capita

In [24]:
pasta = 'PIB'
arquivosPIB = glob.glob(pasta + '/*.csv')

In [25]:
# Unindo todos arquivos de PIB
listaPIB = []
for arquivoPIB in arquivosPIB:
    dataframe = pd.read_csv(arquivoPIB)
    listaPIB.append(dataframe)

In [26]:
pib = pd.concat(listaPIB,ignore_index=True)

In [27]:
negocios['pibPerCapita'] = ''
for i in range(len(negocios)):
    cidade = negocios['Cidade'][i]
    pibCidade = pib[(pib['Localidade'] ==cidade)&(pib['Posição']=='2.1')]['2018'].values[0]
    negocios.loc[i,'pibPerCapita'] = pibCidade

In [28]:
len(negocios['pibPerCapita'].unique())

127

In [66]:
len(negocios['Cidade'].unique())

127

#### Parte 4: Inserindo frota de veículos

In [29]:
pasta = 'Frota Veículos'
arquivosFrota = glob.glob(pasta + '/*.csv')

In [30]:
listaFrota = []
for arquivoFrota in arquivosFrota:
    dataframe = pd.read_csv(arquivoFrota)
    listaFrota.append(dataframe)

In [31]:
frota = pd.concat(listaFrota,ignore_index=True)

In [32]:
negocios['Frota Total'] = ''
negocios['Frota Automóveis'] = ''
negocios['Frota Motos'] = ''
for i in range(len(negocios)):
    cidade = negocios['Cidade'][i]
    print(cidade)
    if len(frota[(frota['Localidade'] ==cidade)&(frota['Posição']=='1')]['2020'].values)>0:
        frotaTotal = frota[(frota['Localidade'] ==cidade)&(frota['Posição']=='1')]['2020'].values[0]
        negocios.loc[i,'Frota_Total'] = frotaTotal
        #Frota de automóveis
        frotaAuto = frota.loc[(frota['Localidade'] ==cidade)&(frota['Posição']=='1.1.1'),'2020'].values[0]
        negocios.loc[i, 'Frota_Automóveis'] = frotaAuto
        #Frota de Motos
        frotaMotos = frota.loc[(frota['Localidade'] ==cidade)&(frota['Posição']=='1.1.10'),'2020'].values[0]
        negocios.loc[i,'Frota_Motos'] = frotaMotos

Imperatriz
Três Lagoas
Sinop
Caldas Novas
Divinópolis
Ipatinga
Dourados
Três Lagoas
Corumbá
Ponta Porã
Caruaru
Garanhuns
Santa Cruz do Capibaribe
Uruguaiana
Erechim
Cachoeiro de Itapemirim
Colatina
Palmas
Araguaína
Açailândia
Balsas
Passo Fundo
Guarapuava
Bauru
Patos de Minas
Barbacena
Varginha
Teófilo Otoni
Santarém
Parauapebas
Castanhal
Altamira
Tailândia
Tangará da Serra
Castanhal
Altamira
Tangará da Serra
Lucas do Rio Verde
Florianópolis
Chapecó
Tubarão
Ponta Grossa
Foz do Iguaçu
Araucária
Arapongas
São José dos Campos
Franca
Marília
Bragança Paulista
Pouso Alegre
São José do Rio Preto
São Carlos
Guaratinguetá
Juiz de Fora
Macaé
Sete Lagoas
Montes Claros
Pelotas
Vitória da Conquista
Ilhéus
Cascavel
Marabá
Governador Valadares
Volta Redonda
Uberaba
Criciúma
Muriaé
Barretos
Ijuí
Campo Mourão
Caratinga
Manhuaçu
Capelinha
Guanhães
Conceição do Mato Dentro
Cataguases
Patrocínio
Janaúba
Almenara
Formiga
Arcos
Bom Despacho
Lagoa da Prata
Bambuí
Araçuaí
Arcoverde
Serra Talhada
Salgueiro
Ouricuri
Araripina
Pedro Leopoldo
Confins
Curvelo
Ouro Branco
Itabirito
Lagoa Santa
Ituiutaba
Itumbiara
Três Marias
Jaboticabal
Votuporanga
Ubá
Viçosa
Marataízes
Itapetinga
Jequié
Santo Antônio de Jesus
Feira de Santana
Alagoinhas
Francisco Beltrão
Pato Branco
Alegrete
Gramado
Bagé
São Borja
Carangola
São Mateus
Paragominas
Goianésia
Caxambu
Três Pontas
Nepomuceno
Bom Sucesso
Conselheiro Lafaiete
Itabira
João Monlevade
Itaberaí
Itapuranga
Cianorte
Telêmaco Borba
Guarapuava
Imperatriz
Três Lagoas
Sinop
Caldas Novas
Divinópolis
Ipatinga
Três Marias
Jaboticabal
Votuporanga
Ubá
Viçosa
Marataízes
Itapetinga
Jequié
Santo Antônio de Jesus
Feira de Santana
Alagoinhas
Francisco Beltrão
Pato Branco
Alegrete
Gramado
Bagé
São Borja
Carangola
São Mateus
Paragominas
Goianésia
Caxambu
Ipatinga
Dourados
Três Lagoas
Corumbá
Ponta Porã
Caruaru
Garanhuns
Santa Cruz do Capibaribe
Uruguaiana
Erechim
Cachoeiro de Itapemirim
Colatina
Palmas
Araguaína
Açailândia
Balsas
Passo Fundo
Guarapuava
Bauru
Patos de Minas
Barbacena
Varginha
Teófilo Otoni
Tangará da Serra
Santarém
Parauapebas
Castanhal
Altamira
Lucas do Rio Verde
Florianópolis
Chapecó
Tubarão
Ponta Grossa
Foz do Iguaçu
Araucária
Arapongas
São José dos Campos
Franca
Marília
Bragança Paulista
Pouso Alegre
São José do Rio Preto
São Carlos
Guaratinguetá
Juiz de Fora
Macaé
Sete Lagoas
Montes Claros
Pelotas
Vitória da Conquista
Ilhéus
Cascavel
Marabá
Governador Valadares
Volta Redonda
Uberaba
Criciúma
Muriaé
Barretos
Ijuí
Campo Mourão
Caratinga
Manhuaçu
Capelinha
Guanhães
Conceição do Mato Dentro
Cataguases
Patrocínio
Janaúba
Almenara
Formiga
Arcos
Bom Despacho
Lagoa da Prata
Bambuí
Araçuaí
Arcoverde
Serra Talhada
Salgueiro
Ouricuri
Araripina
Pedro Leopoldo
Confins
Curvelo
Ouro Branco
Itabirito
Lagoa Santa
Ituiutaba
Itumbiara
Jequitinhonha
Três Pontas
Nepomuceno
Bom Sucesso
Conselheiro Lafaiete
Itabira
João Monlevade
Itaberaí
Itapuranga
Cianorte
Telêmaco Borba
Guarapuava
Lucas do Rio Verde
Florianópolis
Chapecó
Tubarão
Ponta Grossa
Foz do Iguaçu
Araucária
Arapongas
São José dos Campos
Franca
Marília
Bragança Paulista
Pouso Alegre
São José do Rio Preto
São Carlos
Guaratinguetá
Juiz de Fora
Macaé
Sete Lagoas
Montes Claros
Pelotas
Vitória da Conquista
Ilhéus
Cascavel
Marabá
Governador Valadares
Volta Redonda
Uberaba
Criciúma
Muriaé
Barretos
Ijuí
Campo Mourão
Caratinga
Capelinha
Guanhães
Conceição do Mato Dentro
Cataguases
Patrocínio
Janaúba
Almenara
Formiga
Arcos
Bom Despacho
Lagoa da Prata
Bambuí
Araçuaí
Arcoverde
Serra Talhada
Salgueiro
Ouricuri
Araripina
Pedro Leopoldo
Confins
Curvelo
Ouro Branco
Itabirito
Lagoa Santa
Ituiutaba
Itumbiara
Jequitinhonha
Três Pontas
Nepomuceno
Conselheiro Lafaiete
Itabira
João Monlevade
Itaberaí
Itapuranga
Cianorte
Telêmaco Borba
Guarapuava
Imperatriz
Três Lagoas
Sinop
Caldas Novas
Divinópolis
Ipatinga
Três Marias
Jaboticabal
Votuporanga
Ubá
Viçosa
Marataízes
Itapetinga
Jequié
Santo Antônio de Jesus
Feira de Santana
Alagoinhas
Francisco Beltrão
Pato Branco
Alegrete
Gramado
Bagé
São Borja
Carangola
Paragominas
Goianésia
Caxambu
Ipatinga
Dourados
Três Lagoas
Corumbá
Ponta Porã
Caruaru
Garanhuns
Uruguaiana
Erechim
Cachoeiro de Itapemirim
Colatina
Palmas
Araguaína
Açailândia
Balsas
Passo Fundo
Guarapuava
Bauru
Patos de Minas
Barbacena
Varginha
Teófilo Otoni
Tangará da Serra
Santarém
Parauapebas
Castanhal
Altamira

In [71]:
#A página do IBGE não estava permitindo se obter a frota das cidades do rio e são paulo
#Esses dados terão que ser inseridos na mão.
# negocios.to_excel('Negócios enriquecidos - Validação.xlsx')
negocios.to_excel('Negócios enriquecidos.xlsx')